body {
  font-family: "microsoft yahei";
  background: #f4f4f4;
  padding: 40px 10px;
}
.books-list {
  padding: 10px;
  border: 1px dashed #ddd;
  background: #eee;
}
.bookTemplate {
  float: left;
  margin: 0px 10px 10px 0px;
  width: 340px;
  overflow: hidden;
  background: #fff;
  padding: 15px 10px;
  border: 1px solid #ddd;
}
.bookTemplate img {
  float: left;
}
.bookTemplate ul {
  list-style: none;
  line-height: 30px;
}
